# App
APP_NAME=AI-Attendance-System
DEBUG=True
SECRET_KEY=your_secret_key_here

# Database (Get the Atlas URL from team lead)
MONGODB_URL=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0
DATABASE_NAME=nexattend_db

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Face Recognition
FACE_MODEL=Facenet
SIMILARITY_THRESHOLD=0.7

# Email (SendGrid)
SENDGRID_API_KEY=your_sendgrid_api_key_here
FROM_EMAIL=noreply@yourdomain.com

# Storage
UPLOAD_DIR=./data/face_images
