MONGODB_URL=mongodb+srv://user:password@cluster.mongodb.net/?appName=Cluster0
DATABASE_NAME=nexattend_db
PROJECT_NAME=NexAttend API
API_V1_STR=/api/v1
SECRET_KEY=PleaseChangeThisToARandomSecretKeyHere
ACCESS_TOKEN_EXPIRE_MINUTES=30
